body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-container {
    position: relative;
}

#toggle-navbar {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 999;
}
#nav-logo{
    position: fixed;
    top:20px;
    left: 30px;
    z-index: 999;
}

#navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F78078;
    padding: 0px 0;
    transition: top 0.3s ease-in-out;   
}

/* MENU TOGGLE BUTTON */
    .toggle-navbar__outer {
        border: 3.5px solid #000;
        padding: 3px;
        border-radius: 50%;
    }
    .toggle-navbar__outer--icon {
        background-color: #000;
        padding: 16px;
        border-radius: 50%;
    }
    .toggle-navbar__outer--icon{
        transform: rotate(-20deg);
    }
    .toggle-navbar__outer--icon:hover {
        transform: rotate(0deg);
    }

.white-background {
    position: fixed;
    bottom: 0;
    left: -50%;
    width: 40%;
    height: 50%;
    background-color: white;
    z-index: 1;
    transition: left 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 500px 500px 0;
    margin-bottom:155px;
}

.black-background {
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 55%;
    height: 80%;
    background-color: #000;
    z-index: 1;
    transition: right 0.3s ease-in-out;
    border-radius: 500px 0px 0px 500px;
    margin-bottom: 70px;
}